.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: white;
}
.navlogo-container{
    display: flex;
    text-transform: uppercase;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}
.navlogo-container h2{
    color: orange;
    font-size: x-large;
}

.nav-logo{
    width: 3em;
}
.navbar .logo{
    font-size: 2.5rem;
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .navlogo-container{
        display: flex;
        flex-direction: column;
    }
    .navlogo-container h2{
        font-size: medium;
    }
    .nav-logo{
        width: 2
        
        em;
        height: 2em;
    }
    .nav-profile{
        width: 60px;
    }
}